/* 
.frame{
    width: 100%;
    height: 30px;
    background-color: beige;
}
.frame-left{
    float: left;
    margin-left: 15px;
    line-height: 30px;
}
.frame-left span{
    color: #999999;
}
.frame-left a{
    line-height: 30px;
    margin-left: 15px;
    text-decoration: none;
    color: #999999;
    font-weight: bold;
}
.frame-left a:hover{
    color: red;
} */
.fox{
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    margin: auto;
    background-color: aliceblue;
}