body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, #444, #000, #000);
}

#char {
    font-size: 200px;
    color: lightgreen;
    text-shadow: 0 0 50px #666;
}

#result {
    font-size: 20px;
    color: #888;
}

#times {
    font-size: 20px;
    color: #888;
}

#char.error {
    color: red;

}

.char {
    font-size: 200px;
    color: lightgreen;
    text-shadow: 0 0 50px #666;
}

.count {
    position: absolute;
    margin-top: -450px;
    margin-left: -600px;
    font-size: 24px;
    color: #b2bec3;
}

body > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body > div > a {
    font-size: 18px;
    text-decoration: none;
    color: #b2bec3;
}

body > div > a:hover {
    color: #48dbfb;
    text-decoration: none;
    text-decoration: underline;
}
